<div class="container">
    <div class="row clearfix">
        <div class="col-md-6 column">
            <form role="form">
                <fieldset>
                    <legend>个人信息</legend>
                </fieldset>
                <div class="form-group">
                    <label for="name">姓名</label>
                    <input type="text" class="form-control" id="name" />
                </div>
                <div class="form-group">
                    <label for="11">性别</label>
                    <input type="text" class="form-control" id="11" />
                </div>
                <div class="form-group">
                    <label for="22">地址</label>
                    <input type="text" class="form-control" id="22" />
                </div>
                <div class="form-group">
                    <label for="33">学历</label>
                    <input type="text" class="form-control" id="33" />
                </div>
                <div class="form-group">
                    <label for="44">年龄</label>
                    <input type="text" class="form-control" id="44" />
                </div>
                <div class="form-group">
                    <label for="55">专业</label>
                    <input type="text" class="form-control" id="55" />
                </div>
                <fieldset>
                    <legend>项目经历</legend>
                </fieldset>
                <div class="form-group">
                    <label>项目名称</label>
                    <label>项目时间</label>
                    <textarea></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <input type="file" id="exampleInputFile" />
                    <p class="help-block">
                        Example block-level help text here.
                    </p>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" />Check me out</label>
                </div> <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>