<div class="panel-body" ng-model="levelOneDepart">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a class="panel-title" data-toggle="collapse" href="#panel-element-departId">百度</a>
        </div>
        <div id="panel-element-departId" class="panel-collapse in">
            <div ng-if="levelOneDepart.hasChildDepart">
                <tree-node ng-model="levelOneDepart.department"></tree-node>
            </div>
            <div ng-if="levelOneDepart.hasPerson">

            </div>
        </div>
    </div>
</div>