<div class="col-lg-12 column" ng-controller="myNoteCtrl">
    <div class="jumbotron">
        <div class="tabbable" id="tabs-92845">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#panel-1" data-toggle="tab">百度</a>
                </li>
                <li>
                    <a href="#panel-2" data-toggle="tab">阿里</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="panel-1">
                    <p>
                        百度部门列表.
                    </p>
                    <div>
                        <abn-tree tree-data="treeData" tree-control="my_tree" expand-level="2" icon-leaf="glyphicon glyphicon-user" icon-expand="glyphicon glyphicon-triangle-right" icon-collapse="glyphicon glyphicon-triangle-bottom"></abn-tree>
                    </div>
                </div>
                <div class="tab-pane" id="panel-2">
                    <p>
                        阿里部门列表.
                    </p>
                    <div>
                        <abn-tree tree-data="treeData"></abn-tree>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

