<div class="col-md-2 column">
    <div class="panel-group" id="panel-605705">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title" data-toggle="collapse" data-parent="#panel-605705" href="#panel-element-1">人事管理</a>
            </div>
            <div id="panel-element-1" class="panel-collapse in">
                <div class="panel-body">
                    员工管理
                </div>
                <div class="panel-body">
                    员工异动
                </div>
                <div class="panel-body">
                    异动申请
                </div>
                <div class="panel-body">
                    异动审批
                </div>
                <div class="panel-body">
                    我的异动
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-605705" href="#panel-element-2">招聘管理</a>
            </div>
            <div id="panel-element-2" class="panel-collapse collapse">
                <div class="panel-body">
                    全部招聘
                </div>
                <div class="panel-body">
                    招聘申请
                </div>
                <div class="panel-body">
                    我的招聘
                </div>
                <div class="panel-body">
                    招聘审批
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-605705" href="#panel-element-3">系统管理</a>
            </div>
            <div id="panel-element-3" class="panel-collapse collapse">
                <div class="panel-body">
                    用户管理
                </div>
                <div class="panel-body">
                    角色管理
                </div>
                <div class="panel-body">
                    模块管理
                </div>
                <div class="panel-body">
                    系统日志
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-605705" href="#panel-element-4">个人办公</a>
            </div>
            <div id="panel-element-4" class="panel-collapse collapse">
                <div class="panel-body">
                    我的招聘
                </div>
                <div class="panel-body">
                    招聘审批
                </div>
                <div class="panel-body">
                    请假审批
                </div>
                <div class="panel-body">
                    异动审批
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-605705" href="#panel-element-5">考勤管理</a>
            </div>
            <div id="panel-element-5" class="panel-collapse collapse">
                <div class="panel-body">
                    请假管理
                </div>
                <div class="panel-body">
                    我的请假
                </div>
                <div class="panel-body">
                    请假申请
                </div>
                <div class="panel-body">
                    请假审批
                </div>
            </div>
        </div>
    </div>
</div>
