<div class="col-md-2 column">
    <div class="panel-group" id="panel-605705">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title" data-toggle="collapse" data-parent="#panel-605705" href="#panel-element-1">角色管理</a>
            </div>
            <div id="panel-element-1" class="panel-collapse in">
                <div class="panel-body">
                    <a href="#/user-list">用户管理</a>
                </div>
                <div class="panel-body">
                    <a href="#/role-list">角色管理</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-605705" href="#panel-element-2">招聘管理</a>
            </div>
            <div id="panel-element-2" class="panel-collapse collapse">
                <div class="panel-body">
                    <a href="#/recruit-list">全部招聘</a>
                </div>
                <div class="panel-body">
                    <a href="#/recruit-info">招聘申请</a>
                </div>
                <div class="panel-body">
                    <a href="#/my-recruit">我的招聘</a>
                </div>
                <div class="panel-body">
                    <a href="#/recruit-approval">招聘审批</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-605705" href="#panel-element-3">应聘管理</a>
            </div>
            <div id="panel-element-3" class="panel-collapse collapse">
                <div class="panel-body">
                    <a href="#/employee-list">应聘者列表</a>
                </div>
                <div class="panel-body">
                    <a href="#/employee-info">应聘者信息</a>
                </div>
                <div class="panel-body">
                    <a href="#/employee-tree">应聘者统计</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-605705" href="#panel-element-4">录用进度</a>
            </div>
            <div id="panel-element-4" class="panel-collapse collapse">
                <div class="panel-body">
                    <a href="#/feedback-list">进度列表</a>
                </div>
            </div>
        </div>
    </div>
</div>
