<div class="col-md-2 column">
    <div class="panel-group" id="panel-605705">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title" data-toggle="collapse" data-parent="#panel-605705" href="#panel-element-1">人事管理</a>
            </div>
            <div id="panel-element-1" class="panel-collapse in">
                <div class="panel-body">
                    <a href="#/personal-employeeManage">员工管理</a>
                </div>
                <div class="panel-body">
                    <a href="#/personal-employeeChange">员工异动</a>
                </div>
                <div class="panel-body">
                    <a href="#/personal-changeApproval">异动申请</a>
                </div>
                <div class="panel-body">
                    <a href="#/personal-changeApply">异动审批</a>
                </div>
                <div class="panel-body">
                    <a href="#/personal-myChange">我的异动</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-605705" href="#panel-element-2">招聘管理</a>
            </div>
            <div id="panel-element-2" class="panel-collapse collapse">
                <div class="panel-body">
                    <a href="#/recruitment-allRecruitment">全部招聘</a>
                </div>
                <div class="panel-body">
                    <a href="#/recruitment-recruitmentApply">招聘申请</a>
                </div>
                <div class="panel-body">
                    <a href="#/recruitment-myRecruitment">我的招聘</a>
                </div>
                <div class="panel-body">
                    <a href="#/recruitment-recruitmentApproval">招聘审批</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-605705" href="#panel-element-3">系统管理</a>
            </div>
            <div id="panel-element-3" class="panel-collapse collapse">
                <div class="panel-body">
                    <a href="#/system-userManage">用户管理</a>
                </div>
                <div class="panel-body">
                    <a href="#/system-roleManage">角色管理</a>
                </div>
                <div class="panel-body">
                    <a href="#/system-modelManage">模块管理</a>
                </div>
                <div class="panel-body">
                    <a href="#/system-systemLog">系统日志</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-605705" href="#panel-element-4">个人办公</a>
            </div>
            <div id="panel-element-4" class="panel-collapse collapse">
                <div class="panel-body">
                    <a href="#/office-myRecruitment">我的招聘</a>
                </div>
                <div class="panel-body">
                    <a href="#/office-recruitmentApproval">招聘审批</a>
                </div>
                <div class="panel-body">
                    <a href="#/office-leaveApproval">请假审批</a>
                </div>
                <div class="panel-body">
                    <a href="#/office-changeApproval">异动审批</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-605705" href="#panel-element-5">考勤管理</a>
            </div>
            <div id="panel-element-5" class="panel-collapse collapse">
                <div class="panel-body">
                    <a href="#/attendance-leave">请假管理</a>
                </div>
                <div class="panel-body">
                    <a href="#/attendance-myLeave">我的请假</a>
                </div>
                <div class="panel-body">
                    <a href="#/attendance-leaveApply">请假申请</a>
                </div>
                <div class="panel-body">
                    <a href="#/attendance-leaveApproval">请假审批</a>
                </div>
            </div>
        </div>
    </div>
</div>
